<!DOCTYPE html>
<html lang="pt-br"> 
<head>
	<title>CRUD NODEJS</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	{{{body}}}
	<script src="/js/javascript.js"></script>
</body>
</html>