<form name='form1' action= 'selectForm' method='post'>
	<table>
		<tr>
			<td>Nome</td>
		</tr>
		<tr>
			<td><input type='text' name='nome' id='nome' placeholder='Digite um nome para busca:'></td>
		</tr>
		<tr>
			<tr><td><input type="submit" name="bntSubimit" id="bntBuscar" value="Buscar"> </td></tr>
		</tr>	
	</table>
</form>


<a href='/'>Voltar ao início</a><br>
<a href='/inserir'>Inserir</a><br>
<a href='/select'>Select</a><br>
