<table>
	<tr>
		<td>Ação</td>
		<td>Nome</td>
		<td>Telefone</td>
	</tr>
	
	{{#data}}	
	<tr>
		<td> <a href='update/{{id}}'><img alt="Editar" height="20" width="20" src="/img/edite.png"></a> 
		<a href='deletar/{{id}}'><img alt="Deletar" height="20" width="20" src="/img/lixeira.png"></a> </td>
		<td>{{nome}}</td>
		<td>{{telefone}}</td>
	</tr>
	{{/data}}
</table>

<a href='/'>Voltar ao início</a><br>
<a href='/inserir'>Inserir</a><br>
<a href='/select'>Select</a><br>