<form name='form1' action= 'controllerUpdate' method='post'>
	<table>
		<tr><td>Nome</td><td>Telefone</td></tr>
		<tr>
			<td><input type='text' name='nome' id='nome' value='{{nome}}'></td>
			<td><input type='text' name='telefone' id='telefone' value='{{telefone}}'></td>
			<td><input type='hidden' name='id' id='id' value='{{id}}'></td>
		</tr>
		<tr><td><input type="submit" name="bntSubimit" id="bntSubimit" value="Alterar"> </td></tr>
	</table>
</form>


<a href='/'>Voltar ao início</a><br>
<a href='/inserir'>Inserir</a><br>
<a href='/select'>Select</a><br>